USE [master]
GO
/****** Object:  Database [Car_service]    Script Date: 18.03.2025 18:02:28 ******/
CREATE DATABASE [Car_service]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Car_service', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Car_service.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Car_service_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Car_service_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Car_service].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Car_service]
GO
/****** Object:  Table [dbo].[Application_Car]    Script Date: 18.03.2025 18:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application_Car](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ViewCar] [nvarchar](50) NULL,
	[ModelCar] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[ClientId] [int] NULL,
	[StatusId] [int] NULL,
	[UnicId] [nvarchar](10) NULL,
	[PriorityId] [int] NULL,
	[MasterId] [int] NULL,
 CONSTRAINT [PK_Application_Car] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coordination]    Script Date: 18.03.2025 18:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coordination](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HelpMasterId] [int] NULL,
	[ApplicationId] [int] NULL,
 CONSTRAINT [PK_Coordination] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 18.03.2025 18:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderMaterial]    Script Date: 18.03.2025 18:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderMaterial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NULL,
	[MaterialId] [int] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_OrderMaterial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Priority]    Script Date: 18.03.2025 18:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priority](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
 CONSTRAINT [PK_Priority] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 18.03.2025 18:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NULL,
	[DateTimeStart] [datetime] NULL,
	[DatetimeEnd] [datetime] NULL,
 CONSTRAINT [PK_Report] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 18.03.2025 18:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 18.03.2025 18:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 18.03.2025 18:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Patronymic] [nvarchar](50) NULL,
	[RoleId] [int] NULL,
	[Phone] [char](11) NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Application_Car] ON 

INSERT [dbo].[Application_Car] ([Id], [ViewCar], [ModelCar], [Description], [ClientId], [StatusId], [UnicId], [PriorityId], [MasterId]) VALUES (1, N'Легковая', N'Хавал', N'Прокол в колесе', 3, 1, NULL, 3, NULL)
INSERT [dbo].[Application_Car] ([Id], [ViewCar], [ModelCar], [Description], [ClientId], [StatusId], [UnicId], [PriorityId], [MasterId]) VALUES (2, N'Джип', N'Нива', N'Оторвано переднее крыло', 3, 2, N'0000000001', 2, 1)
INSERT [dbo].[Application_Car] ([Id], [ViewCar], [ModelCar], [Description], [ClientId], [StatusId], [UnicId], [PriorityId], [MasterId]) VALUES (3, N'Легковая', N'Тоета', N'Протечка масла', 3, 4, N'0000000002', 2, 1)
SET IDENTITY_INSERT [dbo].[Application_Car] OFF
GO
SET IDENTITY_INSERT [dbo].[Coordination] ON 

INSERT [dbo].[Coordination] ([Id], [HelpMasterId], [ApplicationId]) VALUES (1, 2, 3)
SET IDENTITY_INSERT [dbo].[Coordination] OFF
GO
SET IDENTITY_INSERT [dbo].[Material] ON 

INSERT [dbo].[Material] ([Id], [Title]) VALUES (1, N'Колесо')
INSERT [dbo].[Material] ([Id], [Title]) VALUES (2, N'Крыло')
INSERT [dbo].[Material] ([Id], [Title]) VALUES (3, N'Краска синяя')
SET IDENTITY_INSERT [dbo].[Material] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderMaterial] ON 

INSERT [dbo].[OrderMaterial] ([Id], [ApplicationId], [MaterialId], [Quantity]) VALUES (1, 2, 2, 1)
INSERT [dbo].[OrderMaterial] ([Id], [ApplicationId], [MaterialId], [Quantity]) VALUES (2, 3, 4, 2)
INSERT [dbo].[OrderMaterial] ([Id], [ApplicationId], [MaterialId], [Quantity]) VALUES (3, 3, 3, 1)
SET IDENTITY_INSERT [dbo].[OrderMaterial] OFF
GO
SET IDENTITY_INSERT [dbo].[Priority] ON 

INSERT [dbo].[Priority] ([Id], [Title]) VALUES (1, N'Критический')
INSERT [dbo].[Priority] ([Id], [Title]) VALUES (2, N'Срочный')
INSERT [dbo].[Priority] ([Id], [Title]) VALUES (3, N'Нормальный')
SET IDENTITY_INSERT [dbo].[Priority] OFF
GO
SET IDENTITY_INSERT [dbo].[Report] ON 

INSERT [dbo].[Report] ([Id], [ApplicationId], [DateTimeStart], [DatetimeEnd]) VALUES (1, 3, CAST(N'2025-03-14T09:00:00.000' AS DateTime), CAST(N'2025-03-17T15:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Report] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Title]) VALUES (1, N'Механик')
INSERT [dbo].[Role] ([Id], [Title]) VALUES (2, N'Оператор')
INSERT [dbo].[Role] ([Id], [Title]) VALUES (3, N'Клиент')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [Title]) VALUES (1, N'Новый')
INSERT [dbo].[Status] ([Id], [Title]) VALUES (2, N'Принят')
INSERT [dbo].[Status] ([Id], [Title]) VALUES (3, N'В работе')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Surname], [Name], [Patronymic], [RoleId], [Phone], [Login], [Password]) VALUES (1, N'Макаров', N'Юрий', N'Сергеевич', 1, N'89263582956', N'log', N'123')
INSERT [dbo].[User] ([Id], [Surname], [Name], [Patronymic], [RoleId], [Phone], [Login], [Password]) VALUES (2, N'Яковлева', N'Светлана', N'Григорьевна', 2, N'88264537502', N'qwe', N'111')
INSERT [dbo].[User] ([Id], [Surname], [Name], [Patronymic], [RoleId], [Phone], [Login], [Password]) VALUES (3, N'Овсянов', N'Михаил', N'Олегович', 3, N'89452830501', N'ty', N'321')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Application_Car]  WITH CHECK ADD  CONSTRAINT [FK_Application_Car_Priority] FOREIGN KEY([PriorityId])
REFERENCES [dbo].[Priority] ([Id])
GO
ALTER TABLE [dbo].[Application_Car] CHECK CONSTRAINT [FK_Application_Car_Priority]
GO
ALTER TABLE [dbo].[Application_Car]  WITH CHECK ADD  CONSTRAINT [FK_Application_Car_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[Application_Car] CHECK CONSTRAINT [FK_Application_Car_Status]
GO
ALTER TABLE [dbo].[Application_Car]  WITH CHECK ADD  CONSTRAINT [FK_Application_Car_User] FOREIGN KEY([ClientId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Application_Car] CHECK CONSTRAINT [FK_Application_Car_User]
GO
ALTER TABLE [dbo].[Application_Car]  WITH CHECK ADD  CONSTRAINT [FK_Application_Car_User1] FOREIGN KEY([MasterId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Application_Car] CHECK CONSTRAINT [FK_Application_Car_User1]
GO
ALTER TABLE [dbo].[Coordination]  WITH CHECK ADD  CONSTRAINT [FK_Coordination_Application_Car] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Application_Car] ([Id])
GO
ALTER TABLE [dbo].[Coordination] CHECK CONSTRAINT [FK_Coordination_Application_Car]
GO
ALTER TABLE [dbo].[Coordination]  WITH CHECK ADD  CONSTRAINT [FK_Coordination_User] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Coordination] CHECK CONSTRAINT [FK_Coordination_User]
GO
ALTER TABLE [dbo].[OrderMaterial]  WITH CHECK ADD  CONSTRAINT [FK_OrderMaterial_Application_Car] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Application_Car] ([Id])
GO
ALTER TABLE [dbo].[OrderMaterial] CHECK CONSTRAINT [FK_OrderMaterial_Application_Car]
GO
ALTER TABLE [dbo].[OrderMaterial]  WITH CHECK ADD  CONSTRAINT [FK_OrderMaterial_Material] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[OrderMaterial] CHECK CONSTRAINT [FK_OrderMaterial_Material]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_Application_Car] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Application_Car] ([Id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_Application_Car]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
